certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==48.0.1
idna==3.11
iniconfig==2.3.0
jwt==1.4.0
packaging==25.0
pluggy==1.6.0
pycparser==2.23
Pygments==2.19.2
pytest==9.0.2
requests==2.33.0
urllib3==2.7.0
